<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip.install" />
  <package id="adobereader" />
  <package id="awscli" />
  <package id="chocolatey" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-dotnetfx.extension" />
  <package id="docker-desktop" />
  <package id="DotNet4.5.2" />
  <package id="dotnetfx" />
  <package id="git.install" />
  <package id="golang" />
  <package id="GoogleChrome" />
  <package id="groovy" />
  <package id="nodejs" />
  <package id="nodejs.install" />
  <package id="ojdkbuild" />
  <package id="postman" />
  <package id="slack" />
  <package id="sublimetext3" />
  <package id="terraform" />
  <package id="terraform-docs" />
  <package id="tflint" />
  <package id="tfsec" />
  <package id="vscode" />
  <package id="vscode.install" />
  <package id="zoom" />
  <package id="Zoom-Outlook" />
</packages>
